@using UnblockMe.Services
@inject IUserService _userService 
@inject ICarsService _carsService
@model Users
<form method="post" id="link" onsubmit="yourJsFunction();return false" asp-controller="Profile" asp-action="BlockedYouAction">
    <p>Contact Method:</p>
    <label for="ContactSMS">SMS</label>
    <input type="radio" name="Contact" value="SMS" id="ContactSMS" checked />
    <label for="ContactEmail">Email</label>
    <input type="radio" name="Contact" value="Email" id="ContactEmail" />

    <label for="cars">Choose a car:</label>
    <select name="mycars" id="mycars">
        @foreach(var element in _carsService.GetCarsList(_userService.GetLoggedInUser()))
        {
            <option value="@element.LicensePlate">@element.LicensePlate</option>
        }
            
        
    </select>

    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" >Close</button>
        <button type="submit" class="btn btn-primary" id="myLink" >Send</button>
    </div>
</form>
@*<script>
    function AddToCart() { $.ajax({ url: "AddToCart", success: function () { alert("success"); } }); return false; }
</script>*@