@model Users

<p>@Model.FirstName - @Model.LastName</p>
<p>@Model.PhoneNumber</p>
<p>@Model.Email</p>
<div class="container">
    <form>
        <p>choose contact mode: </p>

        <div class="contactradio">
            <label for="Email">Email</label>
            <input type="radio" name="Contact" id="Contact" value="Email" />
       
            <label for="SMS">SMS</label>
            <input type="radio" name="Contact" id="Contact" value="SMS" />
        </div>

        <button type="submit" asp-controller="SMS" asp-action="SendSMS">I have blocked you!</button>
        <button type="submit" asp-controller="Email" asp-action="SendEmail">Unblock Me!</button>
    </form>
</div>