@model string


<link href="~/css/searchcity.css" rel="stylesheet" />
<p id="countyName" hidden>@Model</p>

<div class="formLayout">
    <p>
        Search for a city from @Model
    </p>
    <form autocomplete="off" asp-action="CityInfo" asp-controller="Premium" method="get">
        <div class="input-group">
            <div class="autocomplete form-outline" style="width:300px;">
                <input id="myInput" type="text" name="cityName" class="textbox form-control" placeholder="Search">
            </div>
            <button title="Search" type="submit" class="btn btn-primary"><i class="fas fa-search"></i></button>
        </div>
    </form>
</div>

<script src="~/js/city_autocomplete_search.js"></script>
