<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
      integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
      crossorigin="" />

<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
        integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
        crossorigin=""></script>
<link href="~/css/map.css" rel="stylesheet" />
<link href="~/css/radio.css" rel="stylesheet" />
<input class="radio-inline__input" type="radio" name="accessible-radio" value="item-1" id="showCars" checked="checked" />
<label class="radio-inline__label" for="showCars">
    Show parked cars
</label>


@if (User.IsInRole("Premium") || User.IsInRole("Admin"))
{

    <input class="radio-inline__input" type="radio" name="accessible-radio" value="item-2" id="showInfo" />
    <label class="radio-inline__label" for="showInfo">
        Show counties
    </label>
    <input class="radio-inline__input" type="radio" name="accessible-radio" value="item-3" id="showBlockings" />
    <label class="radio-inline__label" for="showBlockings">
        Show blockings
    </label>
}


<a asp-action="CountySearch" asp-controller="Premium" id="returnInfo" hidden></a>
<div id="mapid" style="height:80vh"></div>
<script type="text/javascript" src="~/js/romania_data.js"></script>
<script src="~/js/map.js"></script>
