
@using Microsoft.AspNetCore.Identity
@inject SignInManager<Users> SignInManager
@inject UserManager<Users> UserManager

<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - UnblockMe</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/css/layout.css" rel="stylesheet" />
    <style>
        .licensePlateDiv {
            width: 500px;
            height: 160px;
            border-radius: 40px;
            border-style: solid;
            border-color: rgb(77,70,200);
            border-width: 7px;
            transition: transform .2s;
        }

            .licensePlateDiv .Hr {
                margin-top: 0px;
                margin-bottom: 3px;
            }

            .licensePlateDiv .Text {
                margin-top: 35px;
            }

                .licensePlateDiv .Text p {
                    text-align: center;
                    padding-bottom: 5px;
                    padding-top: 5px;
                    margin-top: 0px;
                    margin-bottom: 0px;
                    font-size: 35px;
                }

            .licensePlateDiv:hover {
                transform: scale(1.1);
            }

        #profileImg, #blockImg {
            display: inline-block;
            height: 40px;
            width: 40px;
            transition: transform .2s;
        }

        .imgDiv {
            text-align: center;
        }

        #profileImg:hover {
            transform: scale(1.1);
        }

        #blockImg:hover {
            transform: scale(1.1);
        }
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-custom bg-custom border-bottom box-shadow mb-3" id="navBar">
            <div class="container" style="color:white;">

                <a class="navbar-brand text-white" asp-area="" asp-controller="Home" asp-action="Index">UnblockMe</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">

                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        @if (SignInManager.IsSignedIn(User))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="AddCar" asp-action="Index">Add Car</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted" id="footer">
        <div class="container">
            &copy; 2021 - UnblockMe - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await Component.InvokeAsync("Notyf")
    @RenderSection("Scripts", required: false)

</body>
</html>
