.licensePlateDiv {
    width: 500px;
    height: 160px;
    border-radius: 40px;
    border-style: solid;
    border-color: rgb(77,70,200);
    border-width: 7px;
    transition: transform .2s;
}

    .licensePlateDiv .Hr {
        margin-top: 0px;
        margin-bottom: 3px;
    }

    .licensePlateDiv .Text {
        margin-top: 35px;
    }

        .licensePlateDiv .Text p {
            text-align: center;
            padding-bottom: 5px;
            padding-top: 5px;
            margin-top: 0px;
            margin-bottom: 0px;
            font-size: 55px;
        }

    .licensePlateDiv:hover {
        transform: scale(1.1);
    }

#profileImg, #blockImg {
    display: inline-block;
    height: 40px;
    width: 40px;
    transition: transform .2s;
}

.imgDiv {
    text-align: center;
}

#profileImg:hover {
    transform: scale(1.1);
}

#blockImg:hover {
    transform: scale(1.1);
}
