.profilecontainer #profilePicture {
    border-radius: 50%;
}
.profilecontainer .email{
    width:16px;
    height:16px;
}
.content
{
    text-align:center;
}
.btn.btn-primary
{
    color:white;
    background-color:rgb(77,70,200);
}
.modal.custom .modal-dialog
{
    background-color:black;
}
