.rating
{
    height:60px;
    display:flex;
    justify-content:center;

}
    .rating .inputsContainer> [id^="star"] {
        display: none
    }

    .rating .inputsContainer > label:before {
        margin: 5px;
        font-size: 2.25em;
        font-family: FontAwesome;
        display: inline-block;
        content: "\f005"
    }

    .rating .inputsContainer > .half:before {
        content: "\f089";
        position: absolute
    }

    .rating .inputsContainer > label {
        color: #ddd;
        float: right
    }

    .rating .inputsContainer > [id^="star"]:checked ~ label,
    .rating:not(:checked) .inputsContainer > label:hover,
    .rating:not(:checked) .inputsContainer > label:hover ~ label {
        color: #FFD700
    }

        .rating .inputsContainer > [id^="star"]:checked + label:hover,
        .rating .inputsContainer > [id^="star"]:checked ~ label:hover,
        .rating .inputsContainer > label:hover ~ [id^="star"]:checked ~ label,
        .rating .inputsContainer > [id^="star"]:checked ~ label:hover ~ label {
            color: #FFED85
        }


.noHover {
    pointer-events: none;
}
.rating .inputsContainer
{
    display:inline-block;
   
}
.expandable {
    transition: transform .2s;
}
.shrinked {
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    transform: scale(0.5);
    transform-origin: top left;
    height:40px;
}
.expandable:hover
{
    transform:scale(1.1);
}
.ratingFormContainer{
    display:flex;
    justify-content:center;
}
.showRating{
    display:inline-block;
    margin-left: 10px;

}
.showRatingContainer {
    display: flex;
    height: 60px;
    justify-content: center;
    flex-direction: column;
}
.showRating .showRatingContainer a:hover
{
    cursor:pointer;
}
#RateUser .modal-body {
    height:200px;
    display:flex;
    flex-direction:column;

}
.ratingBlock {
    height: 100px;
    display: flex;
    overflow: auto;
}


.ratingBlock-imgContainer
{
    height:100%;
    width:60px;  
    display:inline-block;
}
.rightOfImage
{
    height:100%;
    display:inline-block;
    margin-left:10px;
}

.profileInfo {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
}
.profileInfo p:nth-child(1) {
    font-weight:bold;
    margin:0;
}
.comm {
    word-break: break-all;
    width: fit-content;
}