@using Microsoft.AspNetCore.Identity
@using UnblockMe.Models;
@using System.Security.Claims;
@inject SignInManager<Users> SignInManager
@inject UserManager<Users> UserManager
@model List<Cars>
@{
    ViewData["Title"] = "Home";
}


<title>UnblockMe - @ViewData["Title"]</title>
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" />
<link href="~/css/search_button.css" rel="stylesheet" />
<link href="~/css/Profile.css" rel="stylesheet" />
<link href="~/css/licensePlate.css" rel="stylesheet" />


<style>
</style>



<div class="search-box" style="margin-bottom: 40px; zoom: 1.5; ">
    <form method="get">
        <input type="text" placeholder="Search" name="licensePlate" id="licensePlate" />
        <button type="submit" class="icon"><i class="fas fa-search"></i></button>
    </form>

</div>
@if (Model != null)
{
    @if (Model.Count() == 0)
    {
        <div class="car-notfound" style="text-align: center;">
            <p>
                <b>Car not found!</b>
            </p>
        </div>
    }
    else
    {
        <div class="lpContainer">
            @foreach (var element in Model)
            {
                <div class="miniProfile">

                    <div class="profilecontainer">

                        <div class="imgContainer">
                            <img id="profilePicture" src="/Profile/@element.Owner.Id/Photo" />

                            <div class="imgCover">
                                <a href="~/Profile/@element.Owner.Id">
                                    <p>SEE PROFILE</p>
                                </a>
                            </div>



                        </div>


                        <p>@element.Owner.FirstName  @element.Owner.LastName</p>
                    </div>
                    <div class="lpContainer2">
                        <div class="licensePlate">
                            <div class="left">
                            </div>
                            <div class="right">
                                <h1>@element.LicensePlate</h1>
                            </div>
                        </div>
                    </div>


                </div>


            }

        </div>


    }
}






