@{
    ViewData["Title"] = "Test Page";
}
<h1>@ViewData["Title"]</h1>

<p>This is a test page.</p>
<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/50/Female_pair.jpg/330px-Female_pair.jpg" width="400px" />
<ul>
    @for (int i = 1; i <= 10; i++)
        if (i % 2 == 0)
        {
            <li><b>@i</b></li>
        }
        else
        {
            <li>@i</li>
        }
</ul>