@model List<Users>

<link href="~/css/colapsible.css" rel="stylesheet" />
<link href="~/css/partialUsers.css" rel="stylesheet" />
@foreach (var user in Model)
{

    var userName = user.UserName.Substring(0, user.UserName.IndexOf("@"));
    <button type="button" class="btn btn-primary" id="user-@(userName)" data-toggle="modal" data-target="#editUser">
        <span class="buttonUserName">@userName</span>
        <span class="userId" hidden>@user.Id</span>
    </button>
}


<div class="modal fade" id="editUser" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="editUserForm">

                    <p hidden>
                        <input type="text" id="Id" required />
                    </p>
                    <p>
                        <label for="fName">First Name: </label>
                        <input type="text" id="fName" required />
                    </p>
                    <p>
                        <label for="lName">Last Name: </label>
                        <input type="text" id="lName" required />
                    </p>
                    <p>

                        <label for="email">Email: </label>
                        <input type="text" id="email" required />
                    </p>
                    <p>

                        <label for="phone">Phone: </label>
                        <input type="text" id="phone" required />
                    </p>

                </form>
                <button class="btn btn-primary banAction" id="banAction">Ban</button>

                <button class="btn btn-secondary" id="unbanAction">UnBan</button>
                <div class="colapsible">
                    <div class="banColapse">
                     
                        <div class="banInput">
                           
                            <input required type="range" class="form-control-range" id="duration" value="1" min="1" max="3">

                            <input required type="text" placeholder="Reason.." id="reason" />
                        </div>
                           
                        <div class="banActionButtons">
                            <img class="banButton"src="https://img.icons8.com/color/48/000000/cancel-2--v1.png" />
                            <svg class="banInfoButton"xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                                 width="48" height="48"
                                 viewBox="0 0 172 172"
                                 style=" fill:#000000;">
                            <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g><path d="M146.91667,35.83333h-57.33333v100.33333h57.33333c1.98158,0 3.58333,-1.60175 3.58333,-3.58333v-93.16667c0,-1.98158 -1.60175,-3.58333 -3.58333,-3.58333z" fill="#e01a00"></path><path d="M114.66667,53.75h25.08333v10.75h-25.08333zM114.66667,89.58333h25.08333v10.75h-25.08333zM114.66667,107.5h25.08333v10.75h-25.08333zM114.66667,71.66667h25.08333v10.75h-25.08333zM89.58333,53.75h17.91667v10.75h-17.91667zM89.58333,89.58333h17.91667v10.75h-17.91667zM89.58333,107.5h17.91667v10.75h-17.91667zM89.58333,71.66667h17.91667v10.75h-17.91667z" fill="#ffffff"></path><path d="M96.75,150.5l-75.25,-14.33333v-100.33333l75.25,-14.33333z" fill="#cb0c04"></path><path d="M68.54558,111.08333l-8.63942,-16.34358c-0.32967,-0.61275 -0.6665,-1.73075 -1.01767,-3.36117h-0.13258c-0.16483,0.77042 -0.55183,1.93858 -1.161,3.50808l-8.67525,16.19667h-13.46258l15.98883,-25.08692l-14.63075,-25.07975h13.74925l7.17025,15.03567c0.559,1.18608 1.06067,2.59792 1.505,4.22475h0.14333c0.2795,-0.97108 0.80267,-2.43667 1.57308,-4.37167l7.9765,-14.88875h12.59542l-15.04642,24.86475l15.46567,25.29475h-13.40167z" fill="#ffffff"></path></g></g></svg>
                        </div>
                    </div>
                </div>
              
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" form="editUserForm" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
<script src="~/js/partialusers.js"></script>